# Scoreboard team
public-f net.minecraft.network.protocol.game.ClientboundSetPlayerTeamPacket players

# Player info
public-f net.minecraft.network.protocol.game.ClientboundPlayerInfoUpdatePacket entries
